# Ignore Python unnecesary files
__pycache__

# Ignore Virtual Environments
venv

# Ignore VScode default parameters
.vscode

# Ignore temporary autosave MATLAB files
*.asv

# Ignore simulink cache files
*slprj
